<main class="index">
	<header class="masthead d-flex">
		<div class="container text-center my-auto">
			<h1 class="mb-1">
				Favorite Links
			</h1>
			<h3 class="mb-5">
				Store your Favorite Links
			</h3>
			<a href="/singin" class="btn btn-danger active">
				Let's get Started
			</a>
		</div>
	</header>
</main>